<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>ToDo List With VueJS</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" type="text/css" media="screen" href="style.css" />
  <link rel="shortcut icon" type="image/png" href="img/favicon.png" />
</head>

<body>
  <main id="app">
    <div class="create-task">
      <form class="form" novalidate @submit="e => e.preventDefault()">
        <input type="text" placeholder="Type your task" v-model="valueTask" class="input-task" />
        <button type="submit" class="button-form" @click="onSubmitForm">Add</button>
      </form>
    </div>
    <hr class="separator">
    <div v-if="tasksList.length" class="list-tasks">
      <p v-for="(task, index) in tasksList" :class="taskClass">
        <input type="checkbox" class="checkbox" v-model="task.done" />
        <span>{{ task.name }}</span>
        <span class="remove-task" @click="onRemoveTask(index)">
          <span>❌</span>
        </span>
      </p>
    </div>
  </main>
</body>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
<script src="main.js"></script>

</html>